.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .zero {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    grid-column: 1 / 3;

}